
@keyframes cta-shockwave {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

section {
    transition: opacity 1s, transform 1s;
}

section:not(.hero-image) {
    opacity: 0;
    transform: translateY(50px);
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}
